
/* IDEA: popup div */
.popup-div3 {
    text-align: center;
    animation-duration: 1s;
    animation-delay: 0s;
    --interval: 1s;
    display: none;
    position: absolute;
    z-index: 200;
    top: 40vh;
    left: 50vw;
    width: 200px;
    height: 200px;
    /* text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4), 6px 2px 4px rgba(91, 218, 205, 0.48), 10px 6px 0px rgba(199, 192, 181, 0.78); */
    will-change: filter, color;
    filter: saturate(60%);
    color: #b7ffc9;
    --color1: #c39a3f;
    --color2: gold;
    --color3: orange;
    --color4: darkred;
    /* margin: 3.3rem 0 0.2rem 4.2rem; */
    text-transform: uppercase;
    font-family: myFirstFont;
    animation: flicker steps(100) var(--interval) 1s;
    margin-top: 0;
    margin-bottom: 0.15rem;
    font-weight: 400;
    /* font-size: 0.9rem; */
    border: 2px solid;
    padding: 3px;
    background-color: rgba(235, 122, 128, 0.67);
    box-shadow: 0 4px 8px 0 rgb(228 224 3 / 20%), 0 6px 20px 0 rgb(252 248 23 / 19%);
